body {

}
html, body{
    height: 100%;
}
#footer {
    min-height: 30px;
    background: rgba(51, 51, 51, 0.30);
}
#creditContainer {
    width: auto;
    padding: 0 15px;
}
#creditContainer .credit {
    margin: 5px 0;
    color: rgb(153, 153, 153);
}